.piano {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.key {
  width: 4rem;
  height: 18rem;
  border: 1px solid black;
  background-color: whitesmoke;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  color: black;

  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 0.5rem;

  cursor: pointer ;

  &.black {
    color: white;
    background-color: black;
    height: 12rem;
    width: 3rem;
  }

  &:hover{ 
    background-color: cornflowerblue;
  }

  &.active {
    background-color: coral;
  }

  transition: background-color 0.2s ease-in;

  &:not(.black) {
    font-weight: 600;
  }
}

.blacks {
  position: absolute;
  left: 2.5rem;
  display: flex;
  gap: 1.2rem;
}

.blacks-2 {
  position: absolute;
  left: 14.8rem;
  display: flex;
  gap: 1.2rem;
}

.guitar {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  position: absolute;
  bottom: 1rem;

  &.has-active .fret{
    color: rgba(245, 245, 245, 0.45);
  }
}

.fret {
  height: 2.4rem;
  border: 1px solid black;
  text-align: center;

  &:not(.last) {
    & {
      border-bottom-color: blueviolet;
    }
    &:nth-child(n+40) {
      border-bottom-color: blue;
      border-bottom-width: 2px;
    }
  }

  &::after {
    content: attr(data-note);
    display: block;
    top: -1rem;
    position: relative;
  }

  &.active::after {
    color: chartreuse;
    transition: all 0.3s ease-in;
    font-size: 1.4rem;
  }
  
  &:nth-child(13n+1) {
    background-color: #3a87873b;
  }
  
  &.empty {
    &::after {
      content: attr(data-num);
      position: relative;
      font-weight: bold;
      color: chartreuse;
      font-size: 1.2rem;
      top: -2rem;
    }
  }
}